/* Header e footer com verde escuro */
.header-bg { background: linear-gradient(
  to right,
  #A0AC9466 40%,  /* Cor 1 até 40% */
  #90DCB499 60%   /* Cor 2 começa em 40% e vai até 60% */
);}

.footer-bg { background: linear-gradient(
  to right,
  #A0AC9466 40%,  /* Cor 1 até 40% */
  #90DCB499 60%   /* Cor 2 começa em 40% e vai até 60% */
);}

/* Conteúdo branco */
.white-center {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}

/* Formulário de login suspenso */
.login-form {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  z-index: 1000;
  width: 250px;
}
